__pycache__/
*.py[cod]
*$py.class

**/migrations/*

*.sqlite3

*.pgsql
*.psql

*.log

htmlcov/
.tox/
.coverage
coverage.xml
.cache
nosetests.xml
*.cover
*.py,cover
.hypothesis/

*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/

.idea/
*.iml

.DS_Store
Thumbs.db

/static/

/media/

local_settings.py

*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
share/python-wheels/
*.manifest
*.spec

Pipfile.lock
poetry.lock

*.log
docker-compose.yml
.dockerignore
Dockerfile
